@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Drew's Custom Variables and Resets */

:root {
  --main-color: #166570;
  --dark-color: #464646;
  --font-logo: 'Pacifico', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

/* Removing Base Styles */
a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* Logo + Nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--dark-color);
}

nav ul {
  display: none;
}

nav button {
  background-color: transparent;
  border: none;
}

nav span {
  color: var(--main-color);
}

.logo--text {
  font-family: var(--font-logo);
  font-size: 1.5rem;
}

/* Hero */

main {
  font-family: 'Montserrat', sans-serif;
}

h1 span {
  color: var(--main-color);
}

.hero {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.hero img {
  max-width: 500px;
  margin-left: 1rem;
}

.hero h1 {
  font-size: 2rem;
  color: var(--dark-color);
}

.hero p {
  font-size: 1rem;
  color: var(--dark-color);
  font-weight: 500;
}
/* Media Queries */

@media (max-height: 605px) {
  .hero img {
    max-height: 250px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .logo--text {
    font-size: 1.3rem;
  }

  .hero p {
    font-size: 0.8rem;
  }
}

@media (min-width: 640px) {
  nav ul {
    display: flex;
  }

  nav button {
    display: none;
  }
}
