@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Drew's Custom Variables and Resets */

:root {
  --main-color: #166570;
  --dark-color: #464646;
  --font-logo: 'Pacifico', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base Styles */
a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

img {
  width: 100%;
}

/* Logo + Nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1.4rem;
  color: var(--dark-color);
}

nav ul {
  display: none;
}

nav button {
  background-color: transparent;
  border: none;
}

nav span {
  color: var(--main-color);
}

.logo--text {
  font-family: var(--font-logo);
  font-size: 1.5rem;
}

/* Hero */

main {
  font-family: 'Montserrat', sans-serif;
}

h1 span {
  color: var(--main-color);
}

.hero {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.hero img {
  margin-top: -1rem;
  max-width: 500px;
  margin-left: 1rem;
}

.hero h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--dark-color);
}

.hero p {
  font-size: 1rem;
  color: var(--dark-color);
  margin-top: -2rem;
  font-weight: 500;
}

.cta__button {
  margin-top: 1.5rem;
  background-color: var(--main-color);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.9rem 1.3rem;
  letter-spacing: 0.125rem;
  border-radius: 10px;
  border: none;
}

/* Footer Styling */
.social__links {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 18px;
  color: var(--main-color);
}

.social__links li {
  padding-right: 5px;
}

footer .container {
  text-align: center;
}

.copyright__footer {
  margin-top: 3px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #194d54;
}

/* Media Queries */

/* Large Mobile Screen Height Query */

@media (min-height: 732px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .social__links {
    margin-top: 3.5rem;
    font-size: 22px;
  }

  .copyright__footer {
    font-size: 11px;
    margin-top: 0.5rem;
    font-weight: 500;
  }
}

@media (max-height: 600px) {
  nav {
    margin-bottom: 0rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .cta__button {
    font-size: 0.9rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 640px) {
  nav ul {
    display: flex;
  }

  nav button {
    display: none;
  }
}
